extends ./includes/layout

block content
  .row
    .mx-auto.col-md-4.col-lg-4.col-sm-12
      .text-center.pb-2
        h4.text-primary Фотография
        img(src=user.image, alt=user.firstname).avatar.img-circle.img-thumbnail
      .custom-file
        input(type="file", name="newprofilepicture", id="validatedCustomFile").custom-fire-input
        label(for="validatedCustomFile").custom-file-label Загрузить...
    .mx-auto.col-md-8.col-lg-8.col-sm-12
      form(action="/profile", method="put").form
        .form-check
          input(type="checkbox", name="status", checked=user.status).form-check-input
          label(for="status").form-check-label Деактивировать
        .form-group
          .col-xs-6
            label(for="firstname")
              h4.text-primary Имя
            input(type="text", name="firstname", placeholder=user.firstname, title="Введите имя.").form-control
        .form-group
          .col-xs-6
            label(for="lastname")
              h4.text-primary Фамилия
            input(type="text", name="lastname", placeholder=user.lastname, title="Введите фамилию.").form-control
        .form-group
          .col-xs-6
            label(for="middlename")
              h4.text-primary Отчество
            input(type="text", name="middlename", placeholder=user.middlename, title="Введите отчество").form-control
        .form-group
          .col-xs-6
            label(for="phone")
              h4.text-primary Телефон
            input(type="text", name="phone", placeholder=user.phone, title="Введите номер телефона").form-control
        .form-group
          .col-xs-12
            br
            button(type="submit").btn.btn-lg.btn-primary
              i.glyphicon.glyphicon-ok-sign
              | Сохранить