extends ./includes/layout

block content
  .row
    .mx-auto.col-md-7.col-lg-6.col-sm-12
      div(role="tablist").list-group
        if repositories
          each repository in repositories
            a(href='/teacher/student/'+ student._id + '/' +repository._id, role="tab").list-group-item.list-group-item-action.bg-dark
              h3.text-primary #{repository.name}
              h6.text-light #{repository.user.lastname} #{repository.user.firstname} #{repository.user.middlename}
              p.text-warning #{repository.updateAt}
        else 
          h2.text-primary Нет закрытых репозитории