extends ./includes/layout

block content
  .container-fluid
    .row
      .col-md-3.col-lg-3.col-sm-12
        div(role="tablist").list-group
          each section in repository.section
            a(href="/teacher/active/"+repository.user._id+"/"+repository._id + "/" + section._id, role="tab", class="section-select").list-group-item.list-group-item-action.bg-dark.pb-0
              h6.text-primary #{section.name}
              p.text-success #{section.updatedAt}

      .col-md-5.col-lg-5.col-sm-12
        .form-group
          button(type="button", data-toggle="modal" data-target="#suremodal").btn.btn-primary Закрыть
        nav(aria-label="breadcrumb", data-toggle="tooltip", data-placement="top", title="Путь раздела.")
          ol(style="background-color:rgb(151, 153, 155); border-color:#e38c8c !important;").breadcrumb.bg-dark.border
            if path
              each folder in path
                li.breadcrumb-item #{folder}
            li.breadcrumb-item.active #{currentFolder}
        table.table.table-dark
          tbody
            tr
              th(scope="row")
                td
                  a(href="#").text-light.pl-3 ..
            if dirs
              each dir in dirs
                tr
                  th(scope="row")
                    td
                      img(src="../images/folder.png", alt="Папочка", style="width: 5%;")
                      a(href="#").text-light #{dir.name}
            if files
              each file in files
                tr
                  th(scope="row")
                    td
                      img(src="../images/file.png", alt="Файлик", style="width: 5%;")
                      a(href="#").text-light #{file.name}
      div(style="border-color:#e38c8c !important; border-radius: 10px;").col-md-4.col-lg-4.col-sm-12.border
        h2.text-primary.text-center.mb-0 #{repository.title}
        h6.text-primary.text-center.section-title 
        .panel.panel-default
          .input-group.div-add-task
          form.section-form
            ul.list-group.text-light.task-list
              if session
                if session.tasks
                  each task in session.tasks
                    li.list-group-item.bg-dark
                      task.body
                      .material-switch.pull-right
                        if task.status
                          input(type="checkbox", name="task[]", checked)
                          label(for='task[]').label-success
                        else 
                          input(type="checkbox", name='task[]')
                          label(for='task[]').label-success
            .form-control.bg-dark.border-0

      div(id="suremodal",  tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true").modal.fade
        div(role="document").modal-dialog
          .modal-content
            .modal-header
              h5(id="suremodallabel").modal-title Закрытие репозитория
              button(type="button", data-dismiss="modal", aria-label="Отменить").close
                span(aria-hidden="true") &times;
            .modal-body
              p Вы точно уверены, что хотите закрыть репозиторий 
                b #{repository.title}?
            .modal-footer
              button(type="button", data-dismiss="modal").btn.btn-secondary Отменить
              form(action="/teacher/active/"+repository.user._id+"/"+repository._id, method="post")
                button(type="submit").btn.btn-primary Закрыть
