extends ./includes/layout

block content
  .row
    .mx-auto.col-md-7.col-lg-6.col-sm-12
      div(role="tablist").list-group
        if repositories
          each repository in repositories
            div(role="tab").list-group-item.bg-dark
              h3.text-primary #{repository.name}
              h6.text-light Закрыто преподавателем
                b.text-success #{repository.teacher.lastname} #{repository.teacher.firstname} #{repository.teacher.middlename}
              p.text-light #{repository.updateAt}
              a(href="/student/closed_repository/"+repository._id, title="скачать")