extends ./includes/layout

block content
  .row
    .mx-auto.col-md-9.col-lg-8.col-sm-12
      div(role="tablist").list-group
        each repository in repositories
          a(href="/student/repository/"+repository._id, role="tab").list-group-item.list-group-item-action.bg-dark
            h3.text-primary #{repository.title}
            h6.text-light
              each teacher in repository.teacher
                |#{teacher.lastname} #{teacher.firstname} #{teacher.middlename};
            p.text-warning #{repository.updatedAt.toLocaleString()}