extends ./includes/layout

block content
  .row
    .mx-auto.col-md-4.col-lg-4.col-sm-12
      .text-center.pb-2
        h4.text-primary Фотография
        img(src=user.image, alt=user.firstname).avatar.img-circle.img-thumbnail
        form(enctype="multipart/form-data" method="post", action="/student/profile")
          .form-group
            input(type="file", name="newprofilepicture", id="exampleFormControlFile1").form-control-file
            button(type="submit").btn.btn-lg.btn-primary.mt-3 Загрузить
    .mx-auto.col-md-8.col-lg-8.col-sm-12
      form(action="/student/profile").form.student.edit-profile
        .form-group
          .col-xs-6
            label(for="firstname")
              h4.text-primary Имя
            input(type="text", name="firstname", placeholder=user.firstname, title="Введите имя.").form-control
        .form-group
          .col-xs-6
            label(for="lastname")
              h4.text-primary Фамилия
            input(type="text", name="lastname", placeholder=user.lastname, title="Введите фамилию.").form-control
        .form-group
          .col-xs-6
            label(for="middlename")
              h4.text-primary Отчество
            input(type="text", name="middlename", placeholder=user.middlename, title="Введите отчество").form-control
        .form-group
          .col-xs-6
            label(for="phone")
              h4.text-primary Телефон
            input(type="text", name="phone", placeholder=user.phone, title="Введите номер телефона").form-control
        .form-group
          .col-xs-6
            label(for="password")
              h4.text-primary Пароль
            input(type="password", name="password", placeholder="Пароль.", title="Введите пароль.").form-control
        .form-group
          .col-xs-6
            label(for="password2")
              h4.text-primary Пароль
            input(type="text", name="password2", placeholder="Повторите пароль.", title="Повторите пароль.").form-control
        .form-group
          .col-xs-12
            br
            button(type="submit").btn.btn-lg.btn-primary
              i.glyphicon.glyphicon-ok-sign
              | Сохранить