extends ./includes/layout

block content
  .container-fluid
    .row
      .col-md-3.col-lg-3.col-sm-12
        div(role="tablist").list-group
          each section in repository.section
            a(href="/student/repository/"+repository._id + "/" + section._id, role="tab", class="section-select").list-group-item.list-group-item-action.bg-dark.pb-0
              h6.text-primary #{section.name}
              p.text-success #{section.updatedAt}

      .col-md-5.col-lg-5.col-sm-12
        nav(aria-label="breadcrumb", data-toggle="tooltip", data-placement="top", title="Путь раздела.")
          ol(style="background-color:rgb(151, 153, 155); border-color:#e38c8c !important;").breadcrumb.bg-dark.border
            if path
              each folder in path
                li.breadcrumb-item #{folder}
            li.breadcrumb-item.active #{currentFolder}
        table.table.table-dark
          tbody(role="tablist").table-table-table
            tr.dir-up
              td
                a(href=repository.id+'/folder/0', role="tab").text-light.pl-3.dir-up-a ..
            if dirs
              each dir in dirs
                tr.dir
                  td
                    img(src="http://localhost:3000/images/folder.png", alt="Папочка", style="width: 5%;")
                    a(href=repository.id+'/folder/'+dir, role="tab").text-light.dir-get #{dir}
            if files
              each file in files
                tr.file
                  td
                    img(src="http://localhost:3000/images/file.png", alt="Файлик", style="width: 5%;")
                    a(href=repository.id+'/file/'+file, role="tab").text-light #{file}
      div(style="border-color:#e38c8c !important; border-radius: 10px;").col-md-4.col-lg-4.col-sm-12.border
        h2.text-primary.text-center.mb-0 #{repository.title}
        h6.text-primary.text-center.section-title 
        .panel.panel-default
          form.section-form
            ul.list-group.text-light.task-list
              if session
                if session.tasks
                  each task in session.tasks
                    li.list-group-item.bg-dark
                      task.body
                      .material-switch.pull-right
                        if task.status
                          input(type="checkbox", name=task.name, checked)
                          label(for=task.name).label-success
                        else 
                          input(type="checkbox", name=task.name)
                          label(for=task.name).label-success
            .form-control.bg-dark.border-0